.soft {
  color: orange;
}
.valley {
  color: navy;
}
.s-f {
  margin-left: 20px;
}
.home {
  display: flex;
}
.side {
  width: 10%;
}
.links a {
  text-decoration: none;
  color: inherit;
}
.sidebar {
  display: flex;
  flex-direction: column;
}
.links {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.icons {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-weight: 600;
  column-gap: 10px;
}
.admin {
  border-bottom: 1px solid #ccc;
}

.active-link {
  background-color: rgb(56, 56, 145);
}
.active-link .icons {
  color: white;
}
.leadsContainer,
.adminContainer {
  padding: 20px;
}
